@charset "utf-8";
/* CSS Document */

* {
    font-family: 'Inter', sans-serif;
}

h1 {
	color: white;
	margin-bottom: 10px;
}

p {
	color: #e6e6e6;
	margin-block-start: 10px;
	margin-block-end: 10px;
}

a:link
{
    color: #13bcf7;
    text-decoration: none;
}
  
a:link:active, a:visited, a:visited:active 
{
    color: #13bcf7;
}

.card 
{
	background-color: #171b30;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.11);
	border: 1px solid #424863;
}

.accent {
	color: #0f83f6;
}